[submodule "calio"]
	path = calio
	url = https://github.com/EdwinMindcraft/calio.git
	branch = 1.20.x/forge
[submodule "apoli"]
	path = apoli
	url = https://github.com/erutobusiness/apoli.git
	branch = eruto/world3-1.20.1
[submodule "origins"]
	path = origins
	url = https://github.com/erutobusiness/origins-architectury.git
	branch = eruto/world3-1.20.1
[submodule "medieval"]
	path = medieval
	url = https://github.com/muon-rw/Medieval-Origins-Revival.git
	branch = 1.20.1-multiloader
[submodule "origins-classes"]
	path = origins-classes
	url = https://github.com/LimonBlaze/origins-classes-forge.git
	branch = 1.20.1
[submodule "umbrellas"]
	path = umbrellas
	url = https://github.com/eruto-mc/origins_umbrellas.git
